@import 'abstracts/variables';
@import "base/reset";
@import "layout/header";
@import "components/button";


.body {
  background-color: $background-body;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1440px;
  padding-left: $wrapper-padding;
  padding-right: $wrapper-padding;
  margin: auto;
}

.container {
  @include flex();
}

.logo__heading {
  display: none;
}

.burger {
  display: none;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__navigation {
  @include flex();
}

.navigation__item {
  font-feature-settings: 'clig' off, 'liga' off;
  margin-right: 40.5px;

  &:last-child {
    margin-right: 0;
  }
}

.navigation__link {
  padding-bottom: 4px;
  letter-spacing: 0.2px;
  position: relative;
  @extend %link;
  color: $text-dark;
  @extend %font;

  &:visited {
    @extend %link;
    color: $text-dark;
    @extend %font;
  }

  &::after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: 0;
    display: block;
    width: 0;
    height: 2px;
    background: $text-dark;
    transition: 0.3s;
    transform: translateX(-50%);
  }

  @media (hover: hover) {
    &:hover::after {
      width: 100%
    }
  }
}

.coffee-menu__item {
  margin-right: 5px;
}

/*welcome section*/

.welcome__image {
  display: flex;
  max-width: 1360px;
  height: 644px;
  border-radius: 40px;
  background-image: url("../assets/images/img-hero.jpg");
  background-color: lightgray;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 100px;
}


.offer {
  @include flex(flex-start);
  flex-direction: column;

  &__heading {
    color: $text-light;
    max-width: 530px;
    margin-bottom: $wrapper-padding;
  }

  &__button {
    display: block;
    width: 200px;
    position: relative;
    padding-right: 78px;
    padding-left: 78px;
    transition: padding-left 0.3s ease-in-out;

    &:hover {
      padding-left: 64px;
    }

    &::after {
      position: absolute;
      content: url("../assets/icons/coffee-cup.svg");
      left: 64%;
      bottom: 40%;
      opacity: 0;
      width: 20px;
      height: 20px;
      transition: opacity 0.3s ease-in-out;
    }
  }

  &__button:hover::after {
    opacity: 1;
  }
}

.heading1 {
  @extend %font;
  @extend %heading-1;
  font-feature-settings: 'clig' off, 'liga' off;
  color: $text-light;

  &_accent {
    @extend %accent;
    color: $text-accent;
  }
}

.medium {
   @extend %font;
  font-feature-settings: 'clig' off, 'liga' off;
  @extend %medium;
  letter-spacing: 0.034em;
}


/*favorite coffee*/
.favorite-coffee {
  margin: 100px 4px;
  //margin-bottom: 100px;
  //margin-left: 4px;
  //margin-right: 4px;
}

.column-container {
  @include flex();
  flex-direction: column;
}

.favorite-coffee__heading {
  //letter-spacing: 1.2px;
  margin-bottom: $wrapper-padding;
}

.heading2 {
  @extend %heading-2;
  @extend %font;
  color: $text-dark;
  font-feature-settings: 'clig' off, 'liga' off;

  &_accent {
    @extend %accent;
    color: $text-accent;
  }
}
.slider {
  width: 100%;
  margin-bottom: 40px;
}



.slider__item {
  max-width: 480px;
&__image {
  margin-bottom: 20px;
}
}

.slider__image {
  background-image: url("../assets/images/coffee-slider-1.svg");
  min-width: 480px;
  min-height: 480px;
}

.slider-content__heading  {
  margin-bottom: 16px;
}

.heading3 {
  @extend %font;
  @extend %heading-3;
  font-feature-settings: 'clig' off, 'liga' off;
  color: $text-dark;
}

.slider-content__description {
  color: $text-dark;
  text-align: center;
  margin-bottom: 16px;
}

.left-arrow {
  transform: rotate(180deg);

}

.right-arrow {

}

.controls {
  display: flex;
  width: 144px;
  height:4px;
  margin-left: auto;
  margin-right: auto;

}

.control {
  width: 40px;
  border-radius: 100px;
  background-color: $border-light;
  height: 100%;
  margin-right: 12px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  &_active{
    background-color: $border-dark;
  }
}