@import 'abstracts/variables';
@import "base/reset";
@import "layout/header";
@import "components/button";


html {
  scroll-behavior: smooth;
}

.body {
  background-color: $background-body;
}

.wrapper {
  max-width: 1440px;
  padding-left: $wrapper-padding;
  padding-right: $wrapper-padding;
  margin: auto;
  padding-bottom: $wrapper-padding;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  @media (min-width: $mobile) and (max-width: $tablet) {
    padding-left: calc-value-from-viewport($wrapper-padding, 16px, $tablet,$mobile);
    padding-right: calc-value-from-viewport($wrapper-padding, 16px, $tablet,$mobile);
  }
}

.container {
  @include flex();
  @media(max-width: $tablet - 1) {
    .slider &{
      justify-content: center;
    }
  }
}

.logo {
  cursor: default;

  .menu__coffee & {
    cursor: pointer;
  }
}

.logo__heading {
  display: none;
}

.burger {
  display: none;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;

}

.header__navigation {
  @include flex();
  @media(max-width: $tablet) {
    display: none;
  }
}

.navigation__item {
  font-feature-settings: 'clig' off, 'liga' off;
  margin-right: 40.5px;

  &:last-child {
    margin-right: 0;
  }
}

.navigation__link {
  padding-bottom: 4px;
  letter-spacing: 0.2px;
  position: relative;
  @extend %link;
  color: $text-dark;
  @extend %font;

  &:visited {
    @extend %link;
    color: $text-dark;
    @extend %font;
  }

  &::after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: 0;
    display: block;
    width: 0;
    height: 2px;
    background: $text-dark;
    transition: 0.5s;
    transform: translateX(-50%);
  }

  @media (hover: hover) {
    &:not(.contacts-block>a:last-child):hover::after {
      width: 100%
    }
  }

  &:not(.coffee-link) {
    cursor: default;
  }

  .menu__coffee & {
    cursor: default;
  }

}

.coffee-menu {
  @media (max-width: $tablet) {
    display: none;
  }
}

.burger {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 1px solid $border-dark;
  flex-shrink: 0;
  @media (min-width: $tablet + 1px) {
    display: none;
  }
}

.burger__container {
  width: 20px;
  height: 10px;

}

.line {
  width: 16px;
  height: 2px;
  background-image: url("../assets/icons/Vector.svg");
  background-repeat: no-repeat;

}

.line_up {
  background-position: top center;
}


.line_bottom {
  background-position: bottom center;
}


.coffee-menu__item {
  margin-right: 5px;
}

.coffee-link {
  .menu-coffee & {
    pointer-events: none;
  }

  .menu__coffee &::after {
    width: 100%;
    height: 2.15px;
  }
}


/*welcome section*/

.welcome__image {
  display: flex;
  max-width: 1360px;
  height: 644px;
  border-radius: 40px;
  background-image: url("../assets/images/img-hero.jpg");
  background-color: lightgray;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  padding: 100px;
  @media (min-width: $tablet) and (max-width: $desktop) {
    padding: 100px calc-value-from-viewport(100px, 60px);
  }
  @media (min-width: $mobile) and (max-width: $tablet) {
    padding: calc-value-from-viewport(100px, 60px,$tablet,$mobile) calc-value-from-viewport(60px, 16px,$tablet,$mobile);
    background-image: url("../assets/images/hero-tablet.png");
    height: calc-value-from-viewport(644px, 552px,$tablet,$mobile);
  }
  @media (max-width: $mobile) {
         background-image: url("../assets/images/hero-mobile.png");
        padding: 60px 16px;
  }
}


.offer {
  @include flex(flex-start);
  flex-direction: column;

  &__heading {
    color: $text-light;
    max-width: 530px;
    margin-bottom: $wrapper-padding;
  }

  &__button {
    display: block;
    width: 200px;
    position: relative;
    padding-right: 78px;
    padding-left: 78px;
    transition: padding-left 0.3s ease-in-out;
    @media (max-width: $tablet) {
      padding-left: 50px;
    }
    @media (hover: hover) {
      &:hover {
        padding-left: 64px;
      }
    }

    &::after {
      position: absolute;
      content: url("../assets/icons/coffee-cup.svg");
      left: 64%;
      bottom: 40%;
      opacity: 0;
      width: 20px;
      height: 20px;
      transition: opacity 0.3s ease-in-out;
    }
  }

  @media (hover: hover) {
    &__button:hover::after {
      opacity: 1;

    }
  }
  @media (max-width: $tablet) {
    &__button::after {
      opacity: 1;
      left: 58%;
      bottom: 35%;
    }
  }

}

.heading1 {
  @extend %font;
  @extend %heading-1;
  font-feature-settings: 'clig' off, 'liga' off;
  color: $text-light;
  @media (min-width:$mobile) and (max-width: $tablet) {
    font-size: calc-value-from-viewport($h2, $h2-mobile, $tablet, $mobile) ;
  }

  &_accent {
    @extend %accent;
    color: $text-accent;
  }
}

.medium {
  @extend %font;
  font-feature-settings: 'clig' off, 'liga' off;
  @extend %medium;
}


/*favorite coffee*/
.favorite-coffee {
  margin: 100px 4px;
}

.column-container {
  @include flex();
  flex-direction: column;
}

.favorite-coffee__heading {
  margin-bottom: $wrapper-padding;
  text-align: center;
}

.heading2 {
  @extend %heading-2;
  @extend %font;
  color: $text-dark;
  font-feature-settings: 'clig' off, 'liga' off;
  @media (min-width:$mobile) and (max-width: $tablet) {
    font-size: calc-value-from-viewport($h3, $h3-mobile, $tablet, $mobile) ;
  }


  &_accent {
    @extend %accent;
    color: $text-accent;
  }
}

.slider {
  width: 100%;
  margin-bottom: 40px;
  @media(width: $tablet) {
    width: 688px;
  }
}


.slider__item {
  max-width: 480px;

  &__image {
    margin-bottom: 20px;
  }
}

.slider__image {
  background-image: url("../assets/images/coffee-slider-1.svg");
  min-width: 480px;
  min-height: 480px;
  @media (min-width: $mobile) and (max-width: $tablet) {
    min-width: calc-value-from-viewport(480px,348px,$tablet,$mobile);
    min-height: calc-value-from-viewport(480px,348px,$tablet,$mobile);
    background-size:  auto 100%;
  }
  @media (max-width: $mobile) {
    min-width: 348px;
    min-height: 348px;
    background-size:  auto 100%;
  }
}

.slider__content {
  @extend %font;
}


.slider-content__heading {
  margin-bottom: 16px;
}

.heading3 {
  @extend %font;
  @extend %heading-3;
  font-feature-settings: 'clig' off, 'liga' off;
  color: $text-dark;
}

.slider-content__description {
  color: $text-dark;
  text-align: center;
  margin-bottom: 16px;
}

.left-arrow {
  cursor: default;
  transform: rotate(180deg);
}

.controls {
  display: flex;
  width: 144px;
  height: 4px;
  margin-left: auto;
  margin-right: auto;

}

.control {
  width: 44px;
  border-radius: 100px;
  background-color: $border-light;
  height: 100%;
  margin-right: 12px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  &:last-child {
    margin-right: 0;
  }

  &_active {
    background-color: $border-dark;
  }
}


/*section about*/

.about {
  margin-bottom: 100px;
}

.about__text {
  width: 100%;
  margin-bottom: $wrapper-padding;
}

.about__img-container {
  width: 100%;
  height: 1060px;
  @media (max-width: $tablet) {
    height: 1220px;
  }
}

.about__img-column {
  max-width: 660px;
  width: 660px;
  min-width: 348px;
  height: 100%;
@media(max-width: $tablet) {
  max-width: 688px;
  width: 688px;

}
}

.image-container {
  border-radius: 20px;
  background-size: 726px 726px;
  transition: all 0.5s ease;
}


.big-image {
  min-width: 100%;
  min-height: 590px;
  background-repeat: no-repeat;
  background-position: -33px -68px;
  @media (min-width: $mobile) and (max-width: $desktop) {
    background-position: center;
  }
  @media (hover: hover) {
    &:hover {
      background-position: 0px -33px;
      background-size: 100% 660px;
    }
  }
}

.small-image {
  width: 100%;
  height: 430px;
  background-position: -33px -148px;
  background-repeat: no-repeat;
  @media (hover: hover) {
    &:hover {
      background-position: 0px -115px;
      background-size: 660px 660px;
    }
  }
}


.left-column {
  margin-right: 40px;
  @media (max-width: $tablet) {
    margin-right: 0;
  }
  .big-image {
    background-image: url("../assets/images/about-1.png");

  }

  .small-image {
    background-image: url("../assets/images/about-2.png");
    @media (min-width: $tablet) and (max-width: $desktop) {
      background-position:center bottom;
    }
    @media (max-width: $tablet) {
      background-image: url("../assets/images/about-4.png");
      background-position:center;
      min-width: 100%;
      min-height: 590px;
      background-repeat: no-repeat;

    }

  }
}

.right-column {
  flex-direction: column-reverse;
  @media (max-width: $tablet) {
display: none;
  }

  .big-image {
    background-image: url("../assets/images/about-4.png");
  }

  .small-image {
    background-image: url("../assets/images/about-3.png");
    @media (min-width: $tablet) and (max-width: $desktop) {
      background-position: right;
    }
  }
}

/*mobile-app*/
.buttons {
  align-self: flex-start;
  max-width: 420px;
  width: 420px;
}

.mobile-app__container {
  @media(max-width: 1260px) {
    flex-direction: column;
  }
}



.mobile-app {
  margin-bottom: 100px;

  &__offer {
    letter-spacing: 0.2px;
    max-width: 630px;
    @media (max-width: 1260px) {
      max-width: 100%;
      margin-bottom: 100px;
    }
  }

  &__heading {
    margin-bottom: $wrapper-padding;
  }

  &__download {
    margin-bottom: $wrapper-padding;
  }

}

.mobile-app__button {
  @extend %font;
  @include flex();
  width: 200px;
  padding: 11px 20px;
  align-items: center;
  transition: all 0.3s ease;

  @media(hover: hover) {
    &:hover {
      color: $text-light;
      background-color: $background-container;
    }
  }
}


.mobile-app__button {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  border-radius: 100px;
  border: 1px solid $border-dark;
}

.button__text {
  padding-left: 40px;
}

.caption {
  @extend %caption;
  margin-bottom: 2px;
  flex-wrap: nowrap;
}


.button__text__line2 {
  @extend %button;
}

.app-store {
  background: $background-body url("../assets/icons/icon-app-store.svg") no-repeat 20px center;
  @media(hover: hover) {
    &:hover {
      @include background-hover($background-container, url("../assets/icons/icon-app-store-hover.svg"), 20px 50%);
    }
  }
}

.google-play {
  background: $background-body url("../assets/icons/icon-google-play.svg") no-repeat 20px center;
  @media(hover: hover) {
    &:hover {
      @include background-hover($background-container, url("../assets/icons/icon-google-play-hover.svg"), 20px 50%);
    }
  }
}


.icon-app-store {


}


.button__ico {
  margin-right: 8px;
}

.mobile-screens {
  max-width: 630px;
  height: 630px;
  width: 100%;
  background: url("../assets/images/mobile-screens.png") no-repeat;
}

/*footer*/
.footer {
  width: 100%;
  height: 450px;
  padding: 100px;
  border-radius: 40px;
  background: $background-container;
  @media(min-width: $tablet) and (max-width: $desktop) {
    padding: 100px calc-value-from-viewport(100px, 60px);
  }
  @media(min-width:$mobile) and (max-width:$tablet) {
    padding: calc-value-from-viewport(100px, 60px,$tablet,$mobile)  calc-value-from-viewport(60px, 16px,$tablet,$mobile);
    flex-direction: column;
    height: auto;
  }

  &__offer {
    align-items: flex-start;
    max-width: 530px;
    min-width: 316px;
    @media(min-width: $mobile) and(max-width: $tablet) {
      margin-bottom: calc-value-from-viewport(100px,40px,$tablet,$mobile);
      max-width: calc-value-from-viewport(568px,316px,$tablet,$mobile);
    }
  }

  &__offer__heading {
    color: $text-light;
    margin-bottom: $wrapper-padding;
  }
}

.social {
  max-width: 204px;
  width: 204px;
}

.social__button {
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid $border-light;
  color: $border-light;
  transition: all 0.3s ease;
}

.button-twitter {
  background: url("../assets/icons/twitter.svg") no-repeat center;

  @media(hover: hover) {
    &:hover {
      @include background-hover($background-body, url("../assets/icons/twitter-hover.svg"), center);
    }
  }
}

.button-instagram {
  background: url("../assets/icons/instagram.svg") no-repeat center;
  @media(hover: hover) {
    &:hover {
      @include background-hover($background-body, url("../assets/icons/instagram-hover.svg"), center);
    }
  }
}

.button-facebook {
  background: url("../assets/icons/facebook.svg") no-repeat center;

  @media(hover: hover) {
    &:hover {
      @include background-hover($background-body, url("../assets/icons/facebook-hover.svg"), center);
    }
  }
}

.contacts {
  max-width: 530px;
  width: 530px;
  min-width: 316px;
  align-items: flex-start;
  @media (max-width: $tablet) {
    max-width: 100%;
    width: 100%;
  }
}

.contacts-block {
  align-items: flex-start;
}

.contacts__link {
  margin-bottom: 11.5px;
  @media (max-width: $tablet) {
    margin-bottom: 12.5px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}


.contacts__heading {
  margin-bottom: $wrapper-padding;
}

.contacts-heading {
  color: $text-light;
}

.link-item {
  font-feature-settings: 'clig' off, 'liga' off;
  @extend %font;
  @extend %link;
  letter-spacing: 0.04px;
  align-items: baseline;
  color: $text-light;
  font-style: normal;

  &::after {
    background: $text-light;
  }

  &:visited {
    color: $text-light;
  }
}

.contacts__ico {
  margin-right: 8px;

}

/*menu-coffee page*/

.menu-container {
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.menu__coffee__heading {
  max-width: 800px;
  width: 800px;
  min-width: 688px;
  margin-bottom: $wrapper-padding;
  text-align: center;
}

.menu-tabs {
  max-width: 361px;
  width: 361px;
  min-width: 345px;
}

.menu-tab {
  @include flex();
  @extend %font;
  @extend %button;
  color: $text-dark;
  flex-shrink: 0;
  padding: 7px 15px 7px 7px;
  border-radius: 100px;
  border: 1px solid $border-light;
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }

  &__image {
    margin-right: 8px;
  }

  &:active, &_active {
    @include hover-and-active;
  }

  &_active {
    cursor: default;
  }

  @media(hover: hover) {
    &:hover, {
      @include hover-and-active;
    }
  }
}

.menu-item {
  max-width: 310px;
  width: 310px;
  min-width: 310px;
  height: 506px;
  margin-top: $wrapper-padding;
  border-radius: 40px;
  border: 1px solid $border-light;

  .menu-container &:nth-of-type(1) &__image {
    background-image: url("../assets/images/coffee-1.png");
  }

  .menu-container &:nth-of-type(2) &__image {
    background-image: url("../assets/images/coffee-2.png");
  }

  .menu-container &:nth-of-type(3) &__image {
    background-image: url("../assets/images/coffee-3.png");
  }

  .menu-container &:nth-of-type(4) &__image {
    background-image: url("../assets/images/coffee-4.png");
  }

  .menu-container &:nth-of-type(5) &__image {
    background-image: url("../assets/images/coffee-5.png");
  }

  .menu-container &:nth-of-type(6) &__image {
    background-image: url("../assets/images/coffee-6.png");
  }

  .menu-container &:nth-of-type(7) &__image {
    background-image: url("../assets/images/coffee-7.png");
  }

  .menu-container &:nth-of-type(8) &__image {
    background-image: url("../assets/images/coffee-8.png");
  }

  @media(hover: hover) {
    &:hover {
      cursor: pointer;
    }

    &:hover &__image {
      background-position: 0 0;
      background-size: 100% 310px;
    }
  }

  &__content {
    width: 100%;
    height: 196px;
    @extend %font;
    padding: 20px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__heading {
    margin-bottom: 12px;
  }

  &__description {
    width: 100%;
    margin-bottom: auto;
  }

  &__image {
    border-radius: 40px;
    min-width: 100%;
    height: 310px;
    transition: all 0.5s ease;
    background-size: 340px 340px;
    background-position: -15px -15px;
    background-repeat: no-repeat;
    @media(hover: hover) {
      &:hover {
        background-position: 0 0;
        background-size: 100% 310px;
      }
    }
  }

}


