.heading1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%; }

.heading1_accent, .heading2_accent {
  font-style: italic; }

/*action*/
.heading2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%; }

.heading3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%; }

.button, .button__text__line2, .menu-tab, .navigation__link, .navigation__link:visited, .link-item {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%; }

/*Body*/
.medium {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; }

.caption {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%; }

.button, .navigation__link, .navigation__link:visited, .heading1, .medium, .heading2, .slider__content, .heading3, .mobile-app__button, .link-item, .menu-tab, .menu-item__content {
  font-family: 'Inter', sans-serif; }

/* Reset and base styles  */
* {
  padding: 0;
  margin: 0;
  border: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

/* Links */
a, a:link, a:visited {
  /*color: inherit;*/
  text-decoration: none;
  /* display: inline-block; */ }

a:hover {
  /* color: inherit; */
  text-decoration: none; }

/* Common */
aside, nav, footer, header, section, main {
  display: block; }

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit; }

ul, ul li {
  list-style: none; }

img {
  vertical-align: top; }

img, svg {
  max-width: 100%;
  height: auto; }

address {
  font-style: normal; }

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent; }

input::-ms-clear {
  display: none; }

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer; }

input:focus, input:active,
button:focus, button:active {
  outline: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

label {
  cursor: pointer; }

.button {
  color: #403F3D;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  padding: 20px;
  border-radius: 100px;
  background: #E1D4C9;
  max-width: 200px;
  letter-spacing: 0.06em; }

.pagination-button {
  display: flex;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  transition: all 300ms ease;
  background: url("../assets/icons/ico-arrow-default.svg"); }
  .pagination-button:hover {
    background: url("../assets/icons/ico-arrow-hover.svg"); }

html {
  scroll-behavior: smooth; }

.body {
  background-color: #E1D4C9; }

.wrapper {
  max-width: 1440px;
  padding-left: 40px;
  padding-right: 40px;
  margin: auto;
  padding-bottom: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); }

.container {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.logo {
  cursor: default; }
  .menu__coffee .logo {
    cursor: pointer; }

.logo__heading {
  display: none; }

.burger {
  display: none; }

.header {
  padding-top: 20px;
  padding-bottom: 20px; }

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.navigation__item {
  font-feature-settings: 'clig' off, 'liga' off;
  margin-right: 40.5px; }
  .navigation__item:last-child {
    margin-right: 0; }

.navigation__link {
  padding-bottom: 4px;
  letter-spacing: 0.2px;
  position: relative;
  color: #403F3D; }
  .navigation__link:visited {
    color: #403F3D; }
  .navigation__link::after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: 0;
    display: block;
    width: 0;
    height: 2px;
    background: #403F3D;
    transition: 0.5s;
    transform: translateX(-50%); }
  @media (hover: hover) {
    .navigation__link:hover::after {
      width: 100%; } }
  .navigation__link:not(.coffee-link) {
    cursor: default; }
  .menu__coffee .navigation__link {
    cursor: default; }

.coffee-menu__item {
  margin-right: 5px; }

.menu__coffee .coffee-link::after {
  width: 100%;
  height: 2.15px; }

/*welcome section*/
.welcome__image {
  display: flex;
  max-width: 1360px;
  height: 644px;
  border-radius: 40px;
  background-image: url("../assets/images/img-hero.jpg");
  background-color: lightgray;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 100px; }

.offer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column; }
  .offer__heading {
    color: #E1D4C9;
    max-width: 530px;
    margin-bottom: 40px; }
  .offer__button {
    display: block;
    width: 200px;
    position: relative;
    padding-right: 78px;
    padding-left: 78px;
    transition: padding-left 0.3s ease-in-out; }
    @media (hover: hover) {
      .offer__button:hover {
        padding-left: 64px; } }
    .offer__button::after {
      position: absolute;
      content: url("../assets/icons/coffee-cup.svg");
      left: 64%;
      bottom: 40%;
      opacity: 0;
      width: 20px;
      height: 20px;
      transition: opacity 0.3s ease-in-out; }
  @media (hover: hover) {
    .offer__button:hover::after {
      opacity: 1; } }

.heading1 {
  font-feature-settings: 'clig' off, 'liga' off;
  color: #E1D4C9; }
  .heading1_accent {
    color: #B0907A; }

.medium {
  font-feature-settings: 'clig' off, 'liga' off; }

/*favorite coffee*/
.favorite-coffee {
  margin: 100px 4px; }

.column-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column; }

.favorite-coffee__heading {
  margin-bottom: 40px; }

.heading2 {
  color: #403F3D;
  font-feature-settings: 'clig' off, 'liga' off; }
  .heading2_accent {
    color: #B0907A; }

.slider {
  width: 100%;
  margin-bottom: 40px; }

.slider__item {
  max-width: 480px; }
  .slider__item__image {
    margin-bottom: 20px; }

.slider__image {
  background-image: url("../assets/images/coffee-slider-1.svg");
  min-width: 480px;
  min-height: 480px; }

.slider-content__heading {
  margin-bottom: 16px; }

.heading3 {
  font-feature-settings: 'clig' off, 'liga' off;
  color: #403F3D; }

.slider-content__description {
  color: #403F3D;
  text-align: center;
  margin-bottom: 16px; }

.left-arrow {
  cursor: default;
  transform: rotate(180deg); }

.controls {
  display: flex;
  width: 144px;
  height: 4px;
  margin-left: auto;
  margin-right: auto; }

.control {
  width: 40px;
  border-radius: 100px;
  background-color: #C1B6AD;
  height: 100%;
  margin-right: 12px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }
  .control_active {
    background-color: #665F55; }

/*section about*/
.about {
  margin-bottom: 100px; }

.about__text {
  width: 100%;
  margin-bottom: 40px; }

.about__img-container {
  width: 100%;
  height: 1060px; }

.about__img-column {
  max-width: 660px;
  width: 660px;
  min-width: 348px;
  height: 100%; }

.image-container {
  border-radius: 20px;
  background-size: 726px 726px;
  transition: all 0.5s ease; }

.big-image {
  min-width: 100%;
  min-height: 590px;
  background-repeat: no-repeat;
  background-position: -33px -68px; }
  @media (hover: hover) {
    .big-image:hover {
      background-position: 0px -33px;
      background-size: 100% 660px; } }

.small-image {
  width: 100%;
  height: 430px;
  background-position: -33px -148px;
  background-repeat: no-repeat; }
  @media (hover: hover) {
    .small-image:hover {
      background-position: 0px -115px;
      background-size: 660px 660px; } }

.left-column .big-image {
  background-image: url("../assets/images/about-1.png"); }
.left-column .small-image {
  background-image: url("../assets/images/about-2.png"); }

.right-column {
  flex-direction: column-reverse; }
  .right-column .big-image {
    background-image: url("../assets/images/about-4.png"); }
  .right-column .small-image {
    background-image: url("../assets/images/about-3.png"); }

/*mobile-app*/
.buttons {
  align-self: flex-start;
  max-width: 420px;
  width: 420px; }

.mobile-app {
  margin-bottom: 100px; }
  .mobile-app__offer {
    letter-spacing: 0.2px;
    max-width: 630px; }
  .mobile-app__heading {
    margin-bottom: 40px; }
  .mobile-app__download {
    margin-bottom: 40px; }

.mobile-app__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  padding: 12px 20px;
  align-items: center;
  transition: all 0.3s ease; }
  @media (hover: hover) {
    .mobile-app__button:hover {
      color: #E1D4C9;
      background-color: #665F55; } }

.mobile-app__button {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  border-radius: 100px;
  border: 1px solid #665F55; }

.button__text {
  padding-left: 40px; }

.caption {
  margin-bottom: 2px;
  flex-wrap: nowrap; }

.app-store {
  background: #E1D4C9 url("../assets/icons/icon-app-store.svg") no-repeat 20px center; }
  @media (hover: hover) {
    .app-store:hover {
      background: #665F55 url("../assets/icons/icon-app-store-hover.svg") no-repeat 20px 50%; } }

.google-play {
  background: #E1D4C9 url("../assets/icons/icon-google-play.svg") no-repeat 20px center; }
  @media (hover: hover) {
    .google-play:hover {
      background: #665F55 url("../assets/icons/icon-google-play-hover.svg") no-repeat 20px 50%; } }

.button__ico {
  margin-right: 8px; }

.mobile-screens {
  max-width: 630px;
  height: 630px;
  width: 100%;
  background: url("../assets/images/mobile-screens.png") no-repeat; }

/*footer*/
.footer {
  width: 100%;
  height: 450px;
  padding: 100px;
  border-radius: 40px;
  background: #665F55; }
  .footer__offer {
    align-items: flex-start;
    max-width: 530px;
    min-width: 316px; }
  .footer__offer__heading {
    margin-bottom: 40px; }

.social {
  max-width: 204px;
  width: 204px; }

.social__button {
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  color: #C1B6AD;
  transition: all 0.3s ease; }

.button-twitter {
  background: url("../assets/icons/twitter.svg") no-repeat center; }
  .button-twitter:hover {
    background: #E1D4C9 url("../assets/icons/twitter-hover.svg") no-repeat center; }

.button-instagram {
  background: url("../assets/icons/instagram.svg") no-repeat center; }
  .button-instagram:hover {
    background: #E1D4C9 url("../assets/icons/instagram-hover.svg") no-repeat center; }

.button-facebook {
  background: url("../assets/icons/facebook.svg") no-repeat center; }
  .button-facebook:hover {
    background: #E1D4C9 url("../assets/icons/facebook-hover.svg") no-repeat center; }

.contacts {
  max-width: 530px;
  width: 530px;
  min-width: 316px;
  align-items: flex-start; }

.contacts-block {
  align-items: flex-start; }

.contacts__link {
  margin-bottom: 11.5px; }
  .contacts__link:last-child {
    margin-bottom: 0; }

.contacts__heading {
  margin-bottom: 40px; }

.contacts-heading {
  color: #E1D4C9; }

.link-item {
  font-feature-settings: 'clig' off, 'liga' off;
  letter-spacing: 0.04px;
  align-items: baseline;
  color: #E1D4C9;
  font-style: normal; }
  .link-item::after {
    background: #E1D4C9; }
  .link-item:visited {
    color: #E1D4C9; }

.contacts__ico {
  margin-right: 8px; }

/*menu-coffee page*/
.menu-container {
  flex-wrap: wrap;
  margin-bottom: 100px; }

.menu__coffee__heading {
  max-width: 800px;
  width: 800px;
  min-width: 688px;
  margin-bottom: 40px;
  text-align: center; }

.menu-tabs {
  max-width: 361px;
  width: 361px;
  min-width: 345px; }

.menu-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #403F3D;
  flex-shrink: 0;
  padding: 7px 15px 7px 7px;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  margin-right: 16px; }
  .menu-tab:last-child {
    margin-right: 0; }
  .menu-tab__image {
    margin-right: 8px; }
  .menu-tab:active, .menu-tab_active {
    background-color: #665F55;
    color: #E1D4C9; }
  .menu-tab_active {
    cursor: default; }
  @media (hover: hover) {
    .menu-tab:hover {
      background-color: #665F55;
      color: #E1D4C9; } }

.menu-item {
  max-width: 310px;
  width: 310px;
  min-width: 310px;
  height: 506px;
  margin-top: 40px;
  border-radius: 40px;
  border: 1px solid #C1B6AD; }
  .menu-container .menu-item:nth-of-type(1) .menu-item__image {
    background-image: url("../assets/images/coffee-1.png"); }
  .menu-container .menu-item:nth-of-type(2) .menu-item__image {
    background-image: url("../assets/images/coffee-2.png"); }
  .menu-container .menu-item:nth-of-type(3) .menu-item__image {
    background-image: url("../assets/images/coffee-3.png"); }
  .menu-container .menu-item:nth-of-type(4) .menu-item__image {
    background-image: url("../assets/images/coffee-4.png"); }
  .menu-container .menu-item:nth-of-type(5) .menu-item__image {
    background-image: url("../assets/images/coffee-5.png"); }
  .menu-container .menu-item:nth-of-type(6) .menu-item__image {
    background-image: url("../assets/images/coffee-6.png"); }
  .menu-container .menu-item:nth-of-type(7) .menu-item__image {
    background-image: url("../assets/images/coffee-7.png"); }
  .menu-container .menu-item:nth-of-type(8) .menu-item__image {
    background-image: url("../assets/images/coffee-8.png"); }
  @media (hover: hover) {
    .menu-item:hover {
      cursor: pointer; }
    .menu-item:hover .menu-item__image {
      background-position: 0 0;
      background-size: 100% 310px; } }
  .menu-item__content {
    width: 100%;
    height: 196px;
    padding: 20px;
    align-items: flex-start;
    justify-content: flex-start; }
  .menu-item__heading {
    margin-bottom: 12px; }
  .menu-item__description {
    width: 100%;
    margin-bottom: auto; }
  .menu-item__image {
    border-radius: 40px;
    min-width: 100%;
    height: 310px;
    transition: all 0.5s ease;
    background-size: 340px 340px;
    background-position: -15px -15px;
    background-repeat: no-repeat; }
    @media (hover: hover) {
      .menu-item__image:hover {
        background-position: 0 0;
        background-size: 100% 310px; } }

/*# sourceMappingURL=style.css.map */
