$text-dark: #403F3D;
$text-light: #E1D4C9;
$text-accent: #B0907A;
$background-body: #E1D4C9;
$background-container: #665F55;
$background-backdrop: #403F3D;
$border-light: #C1B6AD;
$border-dark: #665F55;
$wrapper-padding: 40px;
$desktop: 1440px;
$tablet: 768px;
$mobile: 380px;


$h1: 84px;
$h2: 72px;
$h3: 60px;
$h4: 24px;
$h5: 16px;
$h6: 10px;
$h2-mobile: 42px;
$h3-mobile: 32px;


@mixin flex($align:center, $justify:space-between) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

%heading-1 {
  font-size: $h2;
  font-weight: 600;
  line-height: 105%;
    @media (max-width: $mobile) {
      font-size: $h2-mobile;
      line-height: 115%
    }
  }

  %accent {
    font-style: italic;
  }

  /*action*/
  %heading-2 {
    font-size: $h3;
    font-weight: 600;
    line-height: 125%;
    @media (max-width: $mobile) {
      font-size: $h3-mobile;
    }
  }

  %heading-3 {
    font-size: $h4;
    font-weight: 600;
    line-height: 125%
  }


  %button, %link {
    font-size: $h5;
    font-weight: 600;
    line-height: 150%;
  }

  %burger-link {
    font-size: 32px;
    font-weight: 600px;
    line-height: 125%;
  }


  /*Body*/
  %medium {
    font-size: $h5;
    font-weight: 400;
    line-height: 150%;
  }

  %caption {
    font-size: $h6;
    font-weight: 600;
    line-height: 140%;
  }


  %font {
    font-family: 'Inter', sans-serif;
  }

  @mixin background-hover($background-color, $url, $position) {
    background: $background-color $url no-repeat $position;
  }

  @mixin hover-and-active() {
    background-color: $background-container;
    color: $text-light;
  }

  @function calc-view-diff($max-view:$desktop, $min-view:$tablet) {
    @return ($max-view - $min-view) / 1px;
  }

  @function calc-abs-value-diff($init, $target) {
    @return abs($init - $target) / 1px;
  }

  @function calc-value-from-viewport ($init, $target, $max-view:$desktop, $min-view:$tablet) {
    @return calc(#{$init} - (((#{$max-view}) - 100vw) * #{calc-abs-value-diff($init, $target)} / #{calc-view-diff($max-view,$min-view)}));
  }