$text-dark: #403F3D;
$text-light: #E1D4C9;
$text-accent: #B0907A;
$background-body: #E1D4C9;
$background-container: #665F55;
$background-backdrop: #403F3D;
$border-light: #C1B6AD;
$border-dark: #665F55;
$wrapper-padding: 40px;

$h1: 84px;
$h2: 72px;
$h3: 60px;
$h4: 24px;
$h5: 16px;
$h6: 10px;


@mixin flex($align:center, $justify:space-between){
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

%heading-1 {
  font-size: $h2;
  font-weight: 600;
  line-height: 105%;
}

%accent {
  font-style: italic;
}
            /*action*/
%heading-2 {
  font-size: $h3;
  font-weight: 600;
  line-height: 125%
}

%heading-3{
  font-size: $h4;
  font-weight: 600;
  line-height: 125%
}



%button, %link {
  font-size: $h5;
  font-weight: 600;
  line-height:  150%;
}

%burger-link {
  font-size: 32px;
  font-weight: 600px;
  line-height: 125%;
}



/*Body*/
%medium {
  font-size: $h5;
  font-weight: 400;
  line-height: 150%;
}

%caption {
  font-size: $h6;
  font-weight: 600;
  line-height: 140%;
}


%font{
  font-family: 'Inter', sans-serif;
}