.form {
  display: flex;
  height: 400px;
  place-content: center;
  max-width: 100%;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.form-wrapper {
  min-width: 512px;
  list-style-type: none;
  padding: 64px 60px;
}

.form-row {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding: 0.5em 1em 0.5em 0;
}

.input {
  flex: 2;
  border-radius: 3px;
  padding: 0.5em;
}
