body {
  margin: 0;
  padding: 0;
  color: #1c1e21;
  background-color: #f0f2f5;
  font-family: 'Inter', sans-serif;
}

button {
  padding: 2px;
  margin-bottom: 10px;
}

button:hover {
  cursor: pointer;
}

button:disabled:hover {
  cursor: not-allowed;
}
