body {
  margin: 0;
  padding: 0;
  color: #1c1e21;
  background-color: #f0f2f5;
  font-family: 'Inter', sans-serif;
}

p {
  margin: 0;
}

button {
  padding: 2px;
  margin-bottom: 10px;
  height: fit-content;
  transition: all 300ms;
  border-radius: 6px;
}

button:hover {
  opacity: 70%;
  cursor: pointer;
}

button:disabled:hover {
  cursor: not-allowed;
}
