.start-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.description {
  text-align: center;
}

.description-heading {
  margin-bottom: 40px;
  font-size: 48px;
  letter-spacing: 0.4rem;
}
