.bottom-buttons {
    display: flex;
    place-content: center;
    margin-bottom: 20px;
}

.bottoms-buttons__button {
    font-family: Inter,sans-serif;
    white-space: nowrap;
    font-size: 16px;
    padding: 10px 20px;
    margin-right: 36px;
}


@media(max-width: 700px) and (min-width: 500px) {
    .bottoms-buttons__button {
        padding-right: 5px;
        margin-right: 5px;
    }
}


@media(max-width: 560px) and (min-width: 500px) {
    .bottoms-buttons__button {
        padding-left: 5px;
    }
}