@import "top-buttons.css";
@import "bottom-buttons.css";

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter,sans-serif;
    font-size: 16px;
    color: black;
}
body.dark-theme {
    color: white;
    background: black;
}


.wrapper {
    padding: 40px 65px 10px;
    max-width: 1440px;
    margin: auto;
}

.message__disabled {
    display: none;
}

.game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-bottom: 20px;
}

.game {
    display: grid;
    grid-template-areas:
"empty-space-area top-clue-area"
"left-clue-area game-field-area";
    background: white;
    border: 3px solid black;
}

body.dark-theme .game {
    border: 3px solid white;
    background-color: black;
}

.empty-space {
    grid-area: empty-space-area;
}

.topClue {
    grid-area: top-clue-area;
    display: flex;
}

.topClue__row {
    display: flex;
    flex-direction: column;
}

.topClue__row:nth-last-of-type(5n), .gameField__row:nth-last-of-type(5n) {
    border-left: 3px solid black;
}

body.dark-theme .topClue__row:nth-last-of-type(5n), body.dark-theme .gameField__row:nth-last-of-type(5n) {
    border-left: 3px solid white;
}


.leftClue__row:nth-last-of-type(5n), .gameField__row .tile:nth-last-of-type(5n) {
    border-top: 3px solid black;
}

body.dark-theme .leftClue__row:nth-last-of-type(5n), body.dark-theme .gameField__row .tile:nth-last-of-type(5n) {
    border-top: 3px solid white;
}


.tile {
    text-align: center;
    font-size: 12px;
    width: 15px;
    height: 15px;
    outline: 1px solid black;
}

body.dark-theme .tile {
    outline: 1px solid white;
}

.gameField {
    grid-area: game-field-area;
    display: flex;
}

.leftClue {
    grid-area: left-clue-area;
    display: flex;
    flex-direction: column;
}

.leftClue__row {
    display: flex;
}

[data-status="open"] {
    background: black;
}

body.dark-theme [data-status="open"] {
    background: white;
}


@media (max-width: 1300px) and (min-width: 500px) {
    .wrapper {
        padding-top: calc(40px - (((1300px) - 100vw) * 30 / 800));;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.result-block {
    font-family: Inter,sans-serif;
    display: flex;
    place-content: center;
    margin: 0 auto 20px;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding: 10px;
    border: 1px solid #717171;
    border-radius: 5px;
    color: var(--button-text-color);
}

body.dark-theme .result-block {
    border: 1px solid #8e8e8e;
    color: #8e8e8e;
}

.result-heading {
    font-size: 20px;
    font-weight: bold;
    align-self: center;
}


.result-rows-container {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.result-row {
    display: flex;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 5px;
}

.result-column {
    text-align: center;
    flex-basis: 33%;
    height: auto;
    border-bottom: 1px solid #717171;
}

body.dark-theme .result-column {
    border-bottom: 1px solid #8e8e8e;
}



.settings {
    display: flex;
    margin: 0 auto;
    place-content: center space-around;
    align-items: center;
    max-width: 400px;
    height: 50px;
    border: 1px solid #717171;
    border-radius: 5px;
    font-size: 16px;
    color: #717171;
}

body.dark-theme .settings {
    border: 1px solid #8e8e8e;
    color: #8e8e8e;
}





.sound-settings, .theme-settings {
    /*border: 1px solid #717171;*/
    padding: 5px;
    border-radius: 5px;
}


.sounds-heading, .theme-heading {
    margin-right: 20px;
}

input[name = "sound"], input[name="theme"] {
    accent-color: #717171;
}

body.dark-theme input[name = "sound"], body.dark-theme input[name = "theme"] {
    accent-color: #8e8e8e;
}

