@import "top-buttons.css";

html {
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: Inter;
    font-size: 16px;
    color: black;
}

.wrapper {
    padding: 40px 65px 10px;
    max-width: 1440px;
    margin: auto;
}

.message__disabled {
    display: none;
}

.game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.game {
    display: grid;
    grid-template-areas:
"empty-space-area top-clue-area"
"left-clue-area game-field-area";
    background: white;
    border: 3px solid black;
}

.empty-space {
    grid-area: empty-space-area;
}

.topClue {
    grid-area: top-clue-area;
    display: flex;
}

.topClue__row {
    display: flex;
    flex-direction: column;
}

.topClue__row:nth-last-of-type(5n), .gameField__row:nth-last-of-type(5n) {
    border-left: 3px solid black;
}

.leftClue__row:nth-last-of-type(5n), .gameField__row .tile:nth-last-of-type(5n) {
    border-top: 3px solid black;
}

.tile {
    text-align: center;
    font-size: 12px;
    width: 15px;
    height: 15px;
    outline: 1px solid black;
}

.gameField {
    grid-area: game-field-area;
    display: flex;
}

.leftClue {
    grid-area: left-clue-area;
    display: flex;
    flex-direction: column;
}

.leftClue__row {
    display: flex;
}

[data-status="open"] {
    background:black;
}


@media (max-width: 1300px) and (min-width: 500px) {
    .wrapper {
        padding-top: calc(40px - (((1300px) - 100vw) * 30 / 800));;
        padding-left: 10px;
        padding-right: 10px;
    }
}

