.car-block-container {
  display: flex;
  flex-direction: column;
}
button {
  background-color: #88c2ce;
  padding: 5px;
  border-radius: 3px;
}

.button-container {
}

.road-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 50px;
  background-image: url('../../components/view/img/road.jpg');
  margin-bottom: 10px;
}

.flag {
  font-weight: 700;
  top: 0;
  right: 150px;
  position: absolute;
}

.start-button,
.stop-button,
.select-button,
.remove-button {
  color: #f4f9fc;
  margin-right: 10px;
  padding: 5px;
}

.select-button,
.remove-button {
  padding: 5px 16px;
}

.car-img {
  position: absolute;
  top: 0;
  left: 90px;
}

.car-img_animated {
  animation: carright linear;
}

.car-img_animated-pause {
  animation-play-state: paused;
}

@keyframes carright {
  100% {
    transform: translateX(calc(100vw - 250px));
  }
  90% {
    transform: translateX(calc((100vw - 250px) / 100 * 90));
  }
  80% {
    transform: translateX(calc((100vw - 250px) / 100 * 80));
  }
  70% {
    transform: translateX(calc((100vw - 250px) / 100 * 70));
  }
  60% {
    transform: translateX(calc((100vw - 250px) / 100 * 60));
  }
  50% {
    transform: translateX(calc((100vw - 250px) / 100 * 50));
  }
  40% {
    transform: translateX(calc((100vw - 250px) / 100 * 40));
  }
  30% {
    transform: translateX(calc((100vw - 250px) / 100 * 30));
  }
  20% {
    transform: translateX(calc((100vw - 250px) / 100 * 20));
  }
  10% {
    transform: translateX(calc((100vw - 250px) / 100 * 10));
  }
}

[disabled] {
  opacity: 50%;
}

.win-message {
  z-index: 2;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  width: 50%;
  height: 200px;
  border-radius: 5px;
  background-color: #88c2ce;
  border: 2px dashed #10100f;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f4f9fc;
}
