html * {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.body {
  min-width: 480px;
  min-height: 100vh;
  background-image: url('https://raw.githubusercontent.com/rolling-scopes-school/rss-puzzle-data/main/images/level1/9th_wave.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 60px;
}
