.button {
  @extend %font;
  @extend %button;
  color: $text-dark;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  padding: 20px;
  border-radius: 100px;
  background: $background-body;
  max-width: 200px;
  letter-spacing: 0.06em;
}

.pagination {
  display: flex;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}


.pagination-button {
   background: url("../assets/icons/ico-arrow-default.svg");
  @media(hover:hover) {
    &:hover {
      background: url("../assets/icons/ico-arrow-hover.svg");
    }
  }
  @media (max-width: $tablet - 1) {
    display: none;
  }
}

