.button {
  @extend %font;
  @extend %button;
  color: $text-dark;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  padding: 20px;
  border-radius: 100px;
  background: $background-body;
  max-width: 200px;
  letter-spacing: 0.06em;
}

.pagination-button {
  display: flex;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  transition: all 300ms ease;
  background: url("../assets/icons/ico-arrow-default.svg");
  &:hover {
    background: url("../assets/icons/ico-arrow-hover.svg");
  }
}

