.list-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  height: 100%;
  width: 35%;
}

.chat-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  border: 1px solid #436c00;
  height: 100%;
  width: 65%;
}

.search-input {
  font-size: 17px;
  position: static;
  box-sizing: border-box;
  border-radius: unset;
  height: 10%;
  max-height: 30px;
  padding: 5px;
  border: 1px solid #436c00;
}

.user-list {
  margin: 0;
  height: 100%;
  padding: 5px;
  overflow-y: auto;
  border: 1px solid #b1ca80;
}

.user-item {
  display: flex;
  box-sizing: border-box;
  margin: 0 2% 0 0;
  overflow-x: hidden;
  width: 85%;
  height: 20px;
  justify-content: flex-start;
  align-items: center;
  color: #002500;
}

.user-item *:hover {
  cursor: default;
}

.user-marker {
  border-radius: 50%;
  height: 6px;
  width: 6px;
  margin: 0 5px 0 0;
  background-color: #3a3a3a;
}

.unread-number {
  background-color: greenyellow;
  margin: 0 5px 0 auto;
  padding: 0 5px;
  border-radius: 16px;
}

.user-active {
  background-color: #3fcc59;
}

.user-name {
  font-size: 16px;
  color: black;
}

.chat-header {
  align-items: center;
  border-bottom: 1px solid #436c00;
  box-sizing: border-box;
  display: flex;
  height: 10%;
  max-height: 30px;
  justify-content: space-around;
  margin: 0;
  padding: 5px;
  width: initial;
}

.main-dialog-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 88%;
  max-height: 88%;
  width: 100%;
}

.dialog-container {
  display: flex;
  position: relative;
  overflow-y: auto;
  flex-direction: column;
}

.chat-form {
  display: flex;
  align-items: center;
  border-top: 1px solid #436c00;
  box-sizing: border-box;
  height: 10%;
  justify-content: space-around;
  margin: 0;
  max-height: 38px;
  padding: 5px;
  width: 100%;
}

.message-input {
  width: 70%;
}

.send-button {
  margin: 0 10px;
  font-size: 17px;
  padding: 8px 10px;
  max-width: 145px;
  width: 145px;
  min-width: 80px;
}

@media (max-width: 600px) and (min-width: 300px) {
  .send-button {
    width: 26%;
  }
}

.text-line {
  opacity: 50%;
  margin-top: 20%;
}

.right {
  justify-content: flex-end;
}

.message-count {
  align-self: flex-end;
  background-color: #3fcc59;
  padding: 0 5px;
  border-radius: 12px;
}
