.form-container {
  padding: 20px 20px 20px 0;
  width: 460px;
  height: 100px;
}

button {
  margin-right: 8px;
}

.name-input,
.new-name-input {
  width: 150px;
  height: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.color-input,
.new-color-input {
  vertical-align: middle;
  width: 50px;
  height: 30px;
  margin-right: 10px;
}

.create-button,
.update-button,
.race-button,
.reset-button,
.generate-button {
  padding: 5px 16px;
  background-color: #88c2ce;
  border-radius: 3px;
  color: #f4f9fc;
}

.car-img {
}
