html {
    font-family: "Arial", sans-serif;
    letter-spacing: 0.2px;
}

.wrapper {
    max-width: 1440px;
    margin: auto;
    padding: 40px;
    @media(max-width: 1000px) {
        padding: 5px 10px;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.game-container {
    @media(max-width: 1000px) {
        flex-direction: column;
    }
}

.gallows-part {
    //display: flex;
    height: 100%;
    width: 30%;
    flex-shrink: 0;
    @media(max-width: 1000px) {
        width: auto;
    }
}

.quiz-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 20px;
    @media(max-width: 1000px) {
        width: 100%;
        padding: 0px;
    }
}

.gallows-part__image {
    width: 360px;
    height: 100%;
    @media(max-width: 1000px) {
        width: 150px;
    }
    @media(max-width: 640px) {
        width: 100px;
    }
    @media (max-width: 370px) {
        width: 90px;
    }
}

.gallows-image {
}

.hangman-image {
    width: 300px;
    height: 477px;
    @media (max-width: 1000px) {
        width: 150px;
        height: auto;
    }
    @media(max-width: 430px) {
        width: 100px;
    }
    @media (max-width: 370px) {
        width: 90px;
    }
}

.quizPart__question {
    text-align: center;
    align-self: center;
    margin-bottom: 40px;
    @media(max-width: 1000px) {
        margin: 10px auto;
    }
}

.question {
    color: black;
    font-size: 24px;
    width: 100%;
    @media(max-width: 640px) {
        font-size: 21px;
    }
    @media(max-width: 640px) {
        font-size: 19px;
    }
}

.secret {
    margin-bottom: 40px;
    @media(max-width: 1000px) {
        margin-bottom: 10px;
    }
}


.letter-box {
    display: inline-block;
    color: #000000;
    margin: 0 2px;
    border-bottom: 1px solid gray;
    width: 14px;

}

.guesses {
    font-size: 18px;
    text-align: center;
    @media(max-width: 640px) {
        margin-top: 0;
    }
    @media(max-width: 440px) {
        margin-bottom: 10px;
    }
}


.keyboard {
    margin-top: 20px;
    width: 90%;
    @media(max-width: 1000px) {
        width: 100%;
        margin-top: 0;
    }
}

.keyboard__keys {
    text-align: center;
    transition: all 0.3s ease;
}

.keyboard__key {
    height: 60px;
    width: 60px;
    margin: 3px;
    border-radius: 4px;
    border: 1px solid gray;
    background: rgba(255, 258, 255, 0.5);
    color: #000000;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    @media(max-width: 640px) {
        width: 50px;
        height: 50px;
    }
}

.disabled {
    background: gray;
}

.message {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: calc(50% - 130px);
    left: calc(50% - 300px);
    margin: 0 auto;
    padding: 10px;
    border-radius: 40px;
    background-color: #f5f5f5;
    width: 600px;
    height: 260px;

    &__heading {
        margin-bottom: 10px;
    }

    &__word {
        margin-bottom: 40px;
        text-align: center;
    }

    @media (max-width: 640px) {
        width: 340px;
        left: calc(50% - 170px);
    }
}

.message_disabled {
    display: none;
}

.heading {
}

.button {
    border-radius: 4px;
    background-color: #f3f3f3;
    padding: 8px 26px;
    text-shadow: 1px 1px 0 #fbfbfb;
    background-image: linear-gradient(to bottom, #fff, #ddd);
}