
.wrapper {
    max-width: 1440px;
    margin: auto;
    border: 1px solid gray;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container {
    height: 500px;
    max-height: 500px;
}

.gallows-part {
    display: flex;
    height: 100%;
    width: 40%;
    flex-shrink: 0;
}

.quiz-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 60%;
    padding: 20px;
}

.gallows-part__image {
    position: relative;
    min-width: 360px;
    width: 360px;
    height: 100%;
}

.gallows-image {
}

.quizPart__question {
    text-align: center;
    margin: 10px auto;
    align-self: center;
    margin-bottom: 40px;
}

.question {
    color: black;
    font: Arial;
    font-size: 20px;
    width: 100%;
}

.secret {
    margin-bottom: 40px;
}



.letter-box {
    display: inline-block;
    color: #000000;
    //font-size: 1.05rem;
    margin: 0 2px;
    border-bottom: 1px solid gray;
    width: 14px;
    //padding: 2px;
    //height: 1.6rem;
}

.keyboard {
    margin-top: 20px;
    width: 100%;
}

.keyboard__keys {
    text-align: center;
    transition:all 0.3s ease;
}
.keyboard__key {
    height: 60px;
    width: 10%;
    max-width: 60px;
    margin: 3px;
    border-radius: 4px;
    border: 1px solid gray;
    background: rgba(255, 258, 255, 0.5);
    color: #000000;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;

}